
@model WebApplication1.Models.Attestation
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FormationPlus</title>
</head>
<body>
   
        <div></div>

        <p> @Model.Message </p>


        <div>

        </div>

   
</body>
</html>

